.message {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  margin-bottom: -5%;
}

p {
  margin-top: 5% !important;
}

.column-space {
  margin-left: 10px !important;
}

form {
  margin-top: 7% !important;
  padding: 10px;
}

.form mat-form-field {
  width: 280px;
  margin: 0 0 15px;
  box-sizing: border-box;
  font-size: 13px;
  transition: all 1s;
}

.form mat-form-field:focus {
  border: 2px solid #1b2631;
}

.form button {
  margin-bottom: 5%;
}
