<div class="projects-container">
  <h2>Twoje projekty</h2>
  <div class="cards">
    <mat-card class="project-card" *ngFor="let project of projects">

      <div class="card-header" [routerLink]="['/board/' + project.projectId]">
        {{project.name}}
      </div>
      <mat-card-content [routerLink]="['/board/' + project.projectId]">
        {{project.description}}
      </mat-card-content>

      <div class="students">
        <div class="student-initial" *ngFor="let student of project.students">{{student | initials}}</div>
        <button mat-mini-fab class="btn-add-student" color="accent"
                matTooltip="Dodaj studenta" (click)="addStudent(project)">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-mini-fab class="btn-project-info" color="basic"
                matTooltip="Szczegóły" (click)="openProjectDetails(project)">
          <mat-icon>subject</mat-icon>
        </button>
      </div>
    </mat-card>
    <mat-card class="new-project-card">
      <div class="new-project-header" (click)="openAddProject('add')">
        Dodaj nowy projekt
      </div>
    </mat-card>
  </div>
</div>
