<h1 mat-dialog-title *ngIf="formResult.action==='add'">Dodawanie nowego zadania</h1>
<h1 mat-dialog-title *ngIf="formResult.action==='edit'">Edycja zadania</h1>

<div class="form-add" mat-dialog-content>
  <form #f="ngForm" novalidate>
    <mat-form-field appearance="standard">
      <mat-label>Nazwa</mat-label>
      <input matInput [(ngModel)]="taskToAdd.name" name="name" [formControl]="formControl.name">
      <mat-error *ngIf="formControl.name.hasError('required')">
        Nazwa jest <strong>wymagana</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Opis</mat-label>
      <textarea matInput [(ngModel)]="taskToAdd.description" name="description"></textarea>
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Priorytet</mat-label>
      <input matInput [(ngModel)]="taskToAdd.sequence" name="sequence" type="number" min="0" [formControl]="formControl.sequence">
      <mat-error>
        Priorytet jest <strong>wymagany</strong> i nie może być ujemny
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Student</mat-label>
      <mat-select [(ngModel)]="taskToAdd.student" name="student" [compareWith]="objectComparisonFunction">
        <mat-option *ngFor="let option of options" [value]="option">
          {{option | studentName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions class="actions">
  <span class="spacer"></span>
  <button mat-stroked-button color="warn" (click)="onNoClick()">Zamknij</button>
  <button mat-stroked-button color="primary" (click)="closeForm()" cdkFocusInitial
          [disabled]="formControl.name.invalid || formControl.sequence.invalid">
    {{formResult.action === 'add' ? 'Dodaj' : 'Edytuj'}}
  </button>
</div>
