/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spacer {
  flex: 1 1 auto;
}

.success-color {
  color: #2ecc71;
}

.error-color {
  color: #e74c3c;
}

.warn-color {
  color: #f1c40f;
}

.student-initial {
  background-color: #dadada;
  color: #000000;
  border-radius: 1em;
  font-weight: bold;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
}

.student-initial-big {
  background-color: #dadada;
  color: #000000;
  border-radius: 5em;
  font-weight: bold;
  font-size: 32px;
  width: 112px;
  height: 112px;
  line-height: 112px;
  text-align: center;
}

.mat-simple-snackbar {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
}
