.projects-container {
  width: 60%;
  margin: 3em auto;
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 24px;
  border-bottom: 1px solid #949494;
  padding-bottom: 16px;
  margin: 0;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project-card {
  flex: 1 0 27%;
  margin: 1em 1%;
  cursor: pointer;
}

.card-header {
  font-size: 16px;
  font-weight: bold;
  margin: 0.5em 0;
}

.students {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.student-initial {
  margin: 0 0.5em 0.5em 0;
}

.btn-add-student {
  width: 28px;
  height: 28px;
  line-height: 28px;
}

.btn-add-student::ng-deep > .mat-button-wrapper {
  padding: 0;
}
