<div class="chat-container">
  <h2>Chat</h2>
  <div class="chat-box">
    <div class="message-container incoming">
      <div class="student-initial">AB</div>
      <div class="message">Hello</div>
    </div>
    <div class="message-container outgoing">
      <div class="student-initial">AN</div>
      <div class="message">Hey. How are you?</div>
    </div>
  </div>
  <div class="send-message-container">
    <form action="">
      <input type="text" placeholder="Napisz wiadomość" name="message"/>
      <button mat-icon-button color="accent" matTooltip="Wyślij">
        <mat-icon>send</mat-icon>
      </button>
    </form>
  </div>
</div>
