<mat-drawer-container hasBackdrop="false">
  <mat-drawer-content>
    <div class="container-tasks">
      <app-header class="header" [user]="user"></app-header>

      <div cdkDropListGroup class="tasks">
        <div class="board" *ngFor="let board of boards">
          <h2 class="board-title">{{board.value}}</h2>

          <div
            cdkDropList
            [cdkDropListData]="board.tasks"
            class="task-list"
            [ngClass]="{'list-without-tasks': board.tasks.length === 0}"
            (cdkDropListDropped)="drop($event, board)">
            <div class="item-box" *ngFor="let item of board.tasks" cdkDrag (click)="openTaskDetails(item)">
              <p class="task-name">{{item.name}}</p>
              <div class="student-initial"
                   *ngIf="item.student !== null"
                   [matTooltip]="studentInTask.get(item) | studentName">
                {{studentInTask.get(item) | initials}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button mat-fab class="btn-chat" color="primary" matTooltip="Otwórz chat"
            [matBadge]="newMessageNotification" [matBadgeHidden]="newMessageNotification == 0" matBadgeColor="accent"
            (click)="toggleChat(drawer)" [ngClass]="chatToggle ? 'btn-after-open-chat' : null">
      <mat-icon>chat</mat-icon>
    </button>

    <button mat-fab class="btn-add-task" color="accent" matTooltip="Dodaj nowe zadanie"
            (click)="openAddTask('add')"  [ngClass]="chatToggle ? 'btn-after-open-chat' : null">
      <mat-icon>add</mat-icon>
    </button>

  </mat-drawer-content>
  <mat-drawer #drawer mode="side" position="end">
    <app-chat [user]="user" [project]="project" [openChat]="chatToggle" (newMessage)="addNewMessageNotification($event)"></app-chat>
  </mat-drawer>
</mat-drawer-container>
