.container-tasks {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 0 1 auto;
}

.tasks {
  background: url('../../assets/background.jpg') no-repeat center;
  background-size: cover;
  padding-top: 1em;
  flex: 1 1 auto;
}

.board {
  width: 23%;
  margin: 0 1%;
  display: inline-block;
  vertical-align: top;
  background-color: #ebecf0;
  border-radius: 0.3em;
}

.board-title {
  text-align: center;
  margin: 8px 0;
}

.task-list {
  background-color: #ebecf0;
  border-top: 1px solid #a3a3a3;
  min-height: 60px;
  overflow: hidden;
  display: block;
  max-height: 80vh;
  overflow-y: auto;
}

.list-without-tasks {
  border: 1px dashed #a3a3a3;
}

.item-box {
  padding: 15px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  margin: 0.5em;
  border-radius: 0.3em;
}

.task-name {
  margin: 0;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.item-box:last-child {
  border: none;
}

.task-list.cdk-drop-list-dragging .item-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.btn-chat {
  position: fixed;
  right: 2em;
  bottom: 2em;
  transition: all 0.5s ease-in-out;
}

.btn-diagram {
  position: fixed;
  right: 2em;
  bottom: 8em;
  transition: all 0.5s ease-in-out;
}

.btn-add-task {
  position: fixed;
  right: 2em;
  bottom: 14em;
  transition: all 0.5s ease-in-out;
}

.btn-after-open-chat {
  right: calc(300px + 2em);
  transition: all 0.3s ease-in-out;
}
